@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Bold'), url('OpenSans-Bold.woff')
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: local('OpenSans-Regular'), url('OpenSans-Regular.woff')
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Bold'), url('Poppins-Bold.woff')
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url('Poppins-Regular.woff')
}

@font-face {
    font-family: 'Poppins-italic';
    src: local('Poppins-italic'), url('Poppins-italic.woff')
}

@font-face {
    font-family: 'Volkhov';
    src: local('Volkhov-Bold'), url('Volkhov-Bold.woff')
}

@font-face {
    font-family: 'Volkhov-Regular';
    src: local('Volkhov-Regular'), url('Volkhov-Regular.woff')
}

@font-face {
    font-family: 'Volkhov-italic';
    src: local('Poppins-italic'), url('Volkhov-italic.woff')
}


@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans-Bold'), url('OpenSans-Bold.woff2')
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: local('OpenSans-Regular'), url('OpenSans-Regular.woff2')
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins-Bold'), url('Poppins-Bold.woff2')
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'), url('Poppins-Regular.woff2')
}

@font-face {
    font-family: 'Poppins-italic';
    src: local('Poppins-italic'), url('Poppins-italic.woff2')
}

@font-face {
    font-family: 'Volkhov';
    src: local('Volkhov-Bold'), url('Volkhov-Bold.woff2')
}

@font-face {
    font-family: 'Volkhov-Regular';
    src: local('Volkhov-Regular'), url('Volkhov-Regular.woff2')
}

@font-face {
    font-family: 'Volkhov-italic';
    src: local('Poppins-italic'), url('Volkhov-italic.woff2')
}