*::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*--créer des outlines sur tous les éléments de la page (permet un debuggage rapide)
* {
    border: 1px solid blue;
}--*/

/*--responsive--*/
@media screen and (max-width: 810px) {

    /*
    * {
        border: 1px solid rgb(0, 255, 26);
    }*/

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #444;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        padding: 1rem;
    }

    .nav-links.show {
        display: flex;
    }

    .burger {
        display: flex;
    }

    /*menu burger taille et position*/
    .burger {
        position: relative;
        color: black;
        right: 50px;
        width: 25px;
    }

}

/*-------------navbar au propre----------------*/
/* Body*/
body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}

header {
    margin-top: 0;
}

footer {
    text-align: center;
    margin-top: 0;
    padding-bottom: 1rem;
}

#welcome {
    background-image: url(vision-chat-nuit.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    color: var(--accentcolor);
    text-decoration: none;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 2rem;
}

.contact {
    margin-top: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: black
}

.contact {
    background-image: url(husky.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.form {
    border: 1px solid black;
    border-radius: 10%;
    width: auto;
    height: 400px;
    align-items: left;
    display: flex;
    justify-self: left;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-left: 15%;
}